/* Main Footer Props */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Source Sans Pro',sans-serif;
  margin-top: 5rem;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-top: 4px #2B2D42 solid;
}
footer > div {
  display: flex;
  flex-direction: column;
}


/* Footer Links */
footer > div  a {
  color: #2B2D42;
  font-weight: 400;
  text-decoration: none;
}


/* Footer Navigation */
.footer-nav {

}


/* Footer Logos */
.footer-logos {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 12rem;
  width: 12%;
}
.footer-logos > button {
  background-color: transparent;
  text-decoration: none;
  border: none;
}