/* Main Footer Props */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Source Sans Pro',sans-serif;
  margin-top: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
footer > div {
  display: flex;
  flex-direction: column;
}


/* Footer Links */
footer > div  a {
  color: #2B2D42;
  font-weight: 400;
  text-decoration: none;
}


/* Footer Navigation */
.footer-nav {

}


/* Footer Logos */
.footer-logos {
  width: 12%;
}